.wellcum_logo {
    color: #009778;
    font-family: Consolas;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    border: 3px solid #009778;
    border-radius: 5px;
    font-size: 8vh;
}

.wellcum_text {
    text-overflow: ellipsis;
    color: #FFFFFF;
    font-family: Consolas;
    margin: 3px 0;
    font-size: 8vh;
}

.wellcum {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    margin: 10px;
    max-width: 1000px;
}

