.wellcum_logo {
    color: #009778;
    font-family: Consolas;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    border: 3px solid #009778;
    border-radius: 5px;
    font-size: 8vh;
}

.wellcum_text {
    text-overflow: ellipsis;
    margin: 3px 0;
    font-size: 8vh;
}

.wellcum {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    margin: 10px;
    max-width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.mainLogo{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: inherit;
}

@media only screen and (min-width : 280px) and (max-width : 480px) {
    .wellcum_logo {
        font-size: 5vh;
    }

    .wellcum_text {
        font-size: 5vh;
    }

    .wellcum{
        margin: 5px;
    }
}