.main_container{
    /* background: rebeccapurple; */
    width: calc(100% - 88px);
    height: 100vh;
    position: absolute;
    right: 0;
    top: 0;
}

.sorter{
    /* background: yellowgreen; */
    width:calc(((100% - 88px) - 50%) / 2);
    max-width: 200px;
    height: 17vh;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 1.5vw;
}

.posts_container{
    /* background: bisque; */
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding: 0 5%;
}


/* Smartphones  */
@media only screen and (min-width : 280px) and (max-width : 480px) {
    .main_containe{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .posts_container{
        width: 90%;
        margin-top: 32%;
    }

    .sorter{
        position: absolute;
        top: 0%;
        left: 50%;
        transform: translateX(-50%) translateY(-0%);
        width: 100%;
        max-width: 90%;
        height: 10vh;
        margin-top: 5px;
    }
}

/* iPads */
@media only screen and (min-width: 481px) and (max-width: 1024px) {
    .posts_container{
        width: 90%;
        margin-top: 22%;
    }
    
    .sorter{
        position: absolute;
        top: 0%;
        left: 50%;
        transform: translateX(-50%) translateY(-0%);
        width: 100%;
        max-width: 90%;
        height: 10%;
        margin: 2% 0;
    }
}
