{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
    <link rel="stylesheet" href="{% static 'css/posts.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c67a5d8aa8.js" crossorigin="anonymous"></script>
    <title>{{ pagename }} - Devs0n1y</title>
    {% block extra_css %} {% endblock %}
</head>

<body>
    {% include 'base/menu.html' %}
    <header>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>

</html>