{% extends 'base/base.html' %}

{% block content %}
    <div class="main_container">
        <div class="form_container">
            <h1>Post Add</h1>
            {% if messages %}
                <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
                <br><br>
            {% endif %}

            <form action="/post/add/" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                {% if post_form.non_field_errors %}
                    <ul>
                        {% for error in non_field_errors.as_text %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                {% for field in post_form %}
                    {% if field.errors %}
                        <ul>
                            {% for error in field.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                    <label class="field_label">{{ field.label }}:</label>
                    <br>
                    {{ field }}
                    <br><br>
                {% endfor %}

                <input class="submit_button" type="submit" value="Create block">
            </form>
        </div>

        {% if post %}
            <div class="post_container">
                <p>Posted by <span style="color: #009778">{{ post.author }}</span></p>
                <p>{{ post.text }}</p>

                {% if images %}
                    <div class="images_cont">
                        {% for image in images %}
                            <img class="post_image" src="{{ image.file.url }}">
                        {% endfor %}
                    </div>
                {% endif %}

                {% if audios %}
                    <div style="margin-top: 10px;">
                        {% for audio in audios %}
                            <audio controls>
                                <source src="{{ audio.file.url }}">
                            </audio>
                        {% endfor %}
                    </div>
                {% endif %}

                {% if videos %}
                    <div class="images_cont">
                        {% for video in videos %}
                            <video class="post_image" controls>
                                <source src="{{ video.file.url }}">
                            </video>
                        {% endfor %}
                    </div>
                {% endif %}

                {% if files %}
                    {% for file in files %}
                        <a href="{{ file.file.url }}" style="text-decoration: none; color:#009778; margin-top: 10px; font-style: italic;">
                            {{ file.name }}
                        </a>
                    {% endfor %}
                {% endif %}
                <div class="reactions_cont">
                    <p><i class="fa-solid fa-heart"></i> {{ post.likes }}</p>
                    <p><i class="fa-solid fa-heart-crack"></i> {{ post.dislikes }}</p>
                </div>
                <div class="dates">
                    <p>Created: {{ post.created }}</p>
                    <p>Last modified: {{ post.modified }}</p>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

