{% extends 'base/base.html' %}

{% block content %}
    <div class="main_container">
        <div class="sorter">

        </div>
        <div class="posts_container">
            <div>
                <h1>XUI</h1>
                <br>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio beatae veritatis nisi obcaecati debitis quam totam sunt maxime quas ex cupiditate aliquam cumque expedita voluptatem doloremque vel deserunt, in provident.</p>
            </div>
            <div>
                <h1>XUI</h1>
                <br>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio beatae veritatis nisi obcaecati debitis quam totam sunt maxime quas ex cupiditate aliquam cumque expedita voluptatem doloremque vel deserunt, in provident.</p>
            </div>
            <div>
                <h1>XUI</h1>
                <br>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio beatae veritatis nisi obcaecati debitis quam totam sunt maxime quas ex cupiditate aliquam cumque expedita voluptatem doloremque vel deserunt, in provident.</p>
            </div>
            <div>
                <h1>XUI</h1>
                <br>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio beatae veritatis nisi obcaecati debitis quam totam sunt maxime quas ex cupiditate aliquam cumque expedita voluptatem doloremque vel deserunt, in provident.</p>
            </div>
            <div>
                <h1>XUI</h1>
                <br>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio beatae veritatis nisi obcaecati debitis quam totam sunt maxime quas ex cupiditate aliquam cumque expedita voluptatem doloremque vel deserunt, in provident.</p>
            </div>
            <div>
                <h1>XUI</h1>
                <br>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio beatae veritatis nisi obcaecati debitis quam totam sunt maxime quas ex cupiditate aliquam cumque expedita voluptatem doloremque vel deserunt, in provident.</p>
            </div>
            <div>
                <h1>XUI</h1>
                <br>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio beatae veritatis nisi obcaecati debitis quam totam sunt maxime quas ex cupiditate aliquam cumque expedita voluptatem doloremque vel deserunt, in provident.</p>
            </div>
            <div>
                <h1>XUI</h1>
                <br>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio beatae veritatis nisi obcaecati debitis quam totam sunt maxime quas ex cupiditate aliquam cumque expedita voluptatem doloremque vel deserunt, in provident.</p>
            </div>
            <div>
                <h1>XUI</h1>
                <br>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio beatae veritatis nisi obcaecati debitis quam totam sunt maxime quas ex cupiditate aliquam cumque expedita voluptatem doloremque vel deserunt, in provident.</p>
            </div>
            <div>
                <h1>XUI</h1>
                <br>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio beatae veritatis nisi obcaecati debitis quam totam sunt maxime quas ex cupiditate aliquam cumque expedita voluptatem doloremque vel deserunt, in provident.</p>
            </div>
            <div>
                <h1>XUI</h1>
                <br>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio beatae veritatis nisi obcaecati debitis quam totam sunt maxime quas ex cupiditate aliquam cumque expedita voluptatem doloremque vel deserunt, in provident.</p>
            </div>
        </div>
    </div>
{% endblock %}