{% extends 'base/base.html' %}
    {% block content %}
        <div class="wellcum_bod">
            <form action="/registration/" method="POST" class="wellcum_block">
                {% csrf_token %}
                <h1 class="Reg_logo">Registration</h1>
                <input type="text" name="username" placeholder="username" maxlength="16" required="" id="id_username" class="wellcum_imp_1">
                <br>
                <input type="email" name="email" placeholder="email" required="" id="id_email" class="wellcum_imp">
                <br>
                <input type="password" name="password" placeholder="password" maxlength="24" required="" id="id_password" class="wellcum_imp">
                <br>
                <input type="password" name="double_password" placeholder="password again" maxlength="24" required="" id="id_double_password" class="wellcum_imp">
                <br>
                <input type="submit" value="Registration" class="wellcum_button">
            </form>
        </div>
    {% endblock %}