<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Devs0n1y</title>
    </head>
    <body>
        <header>
            <h3>{{ pagename }}</h3>
        </header>
        <hr>
        <form action="/registration/" method="POST">
            {% csrf_token %}

            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <!--Asterix means that the field is required-->
            <font color="red">*</font>
            {{ form.username.label }}: {{ form.username }}
            <br>

            <font color="red">*</font>
            {{ form.email.label }}: {{ form.email }}
            <br>

            <font color="red">*</font>
            {{ form.password.label }}: {{ form.password }}
            <br>

            <font color="red">*</font>
            {{ form.double_password.label }}: {{ form.double_password }}
            <hr>

            {{ form.first_name.label }}: {{ form.first_name }}
            <br>

            {{ form.last_name.label }}: {{ form.last_name }}
            <br>

            {{ form.date_of_birth.label }}: {{ form.date_of_birth }}
            <br>

            Pronouns: {{ form.subjective }} / {{ form.objective }}
            <hr>

            <input type="submit" value="Create account">
        </form>
    </body>
</html>
